<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rossella Fumai - ARGOchive</title>
    <link rel="icon" type="image/png" href="/static/icons/favicon.png">
    <link rel="stylesheet" href="/static/css/ross.css">
</head>
<body>
    <nav class="navbar">
        <a href="/" class="navbar-brand">ARGOchive</a>
        <div class="navbar-menu">
            <a href="/" class="nav-item">Home</a>
            <a href="/archivio" class="nav-item">Archive</a>
            <div class="dropdown">
                <button class="nav-item">About ▼</button>
                <div class="dropdown-content">
                    <a href="/theTeam">The Team</a>
                    <a href="/support">Support</a>
                    <a href="/#documentation">Documentation</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container form-page research-page">
        <div class="form-title-row">
            <button type="button" onclick="window.location.href='/theTeam'" style="margin-bottom: 20px;">Back</button>
        </div>

        <div class="member-page">
            <img src="/static/images/ross.jpg" alt="Rossella Fumai">
            <h2>Rossella Fumai</h2>
            <subtitle style="font-style: italic;">5th year High school student</subtitle>
            <p>Hello there! I'm a hobbyist coder and a Graphic designer that loves to combine the things and learn new stuff to build awesome projects.</p>
            <p style="margin-top: 20px;">I worked on two projects, the first one being "Gustavo" for WRO2025, placing 1st in the Italian National stage and getting the bronze in the Mondial Finals, and the second one being "Argo", classified 2nd in the Italian National stage of WRO2026 and to be presented at the International Finals in Zagabria in october.</p>
        </div>

        <div class="team-text">
            <p>Useful links:</p>
            <div style="display: flex; align-items: center; gap: 4px;">
                <p style="margin: 0;">Github: </p>
                <a href="https://github.com/rossymiaoowo-max" style="color: #e4bc65c0;">rossymiaoowo-max</a>
            </div>
            <div style="display: flex; align-items: center; gap: 4px;">
                <p style="margin: 0;">Interview (ita): </p>
                <a href="https://www.lagazzettadelmezzogiorno.it/news/bari/1734458/il-robot-delle-liceali-di-bitetto-va-ai-mondiali-di-singapore-uniche-italiane-in-gara.html" target="_blank" style="color: #e4bc65c0;">La Gazzetta del Mezzogiorno</a>
            </div>
        </div>

        <div class="team-text">
            <p>Contact:</p>
            <div style="display: flex; align-items: center; gap: 4px;">
                <p style="margin: 0;">Email: </p>
                <a href="mailto:rossellafumai519@gmail.com" style="color: #e4bc65c0;">rossellafumai519@gmail.com</a>
            </div>
        </div>

        <div class="team-text">
            <p>CV:</p>
            <button onclick="window.location.href='/downloadCVross'" style="margin-top: 10px;">Download CV <img src="/static/icons/page.png" alt="page" style="width:20px; height:20px; vertical-align: -3px;"></button>
        </div>
    </div>

    <script>
    </script>
</body>
</html>
