<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support - ARGOchive</title>
    <link rel="icon" type="image/png" href="/static/icons/favicon.png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="/" class="navbar-brand">ARGOchive</a>
        <div class="navbar-menu">
            <a href="/" class="nav-item">Home</a>
            <a href="/archivio" class="nav-item">Archive</a>
            <div class="dropdown">
                <button class="nav-item">About ▼</button>
                <div class="dropdown-content">
                    <a href="/theTeam">The Team</a>
                    <a href="/support">Support</a>
                    <a href="/#documentation">Documentation</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container form-page research-page">
        <div class="form-title-row">
            <h1 style="text-align:start;">Support</h1>
            <button type="button" onclick="window.location.href='/'">Back</button>
        </div>

        <div class="support-layout">
            <div class="card" style="grid-column: 1; grid-row: 1;">
                <h5 style="margin-bottom: 20px;">Support Team</h5>
                <h6>Hello everyone!</h6>
                <h6>We're a small team of hobbyists highschool students, so we don't really have a lot of money to get our projects going. Any type of support would be very helpful and would get a mention in our final project, no matter how small!</h6>
                <h6 style="margin-top: 15px;">Useful links to support:</h6>
                <ul>
                    <li style="margin: 5px;"><a href="https://ko-fi.com/ArgoProject" target="_blank" class="support-link" style="color: #703040b4;">Ko-fi</a></li>
                    <li style="margin: 5px;"><a href="https://www.buymeacoffee.com/ArgoProject" target="_blank" class="support-link" style="color: #703040b4;">Buy Me a Coffee</a></li>
                </ul>
                <h6 style="margin-top: 10px;">Sharing is caring!&#10084</h6>
            </div>
        </div>
    </div>

    <script>
    </script>
</body>
</html>
