<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liliana Albanese - ARGOchive</title>
    <link rel="icon" type="image/png" href="/static/icons/favicon.png">
    <link rel="stylesheet" href="/static/css/lilly.css">
</head>
<body>
    <nav class="navbar">
        <a href="/" class="navbar-brand">ARGOchive</a>
        <div class="navbar-menu">
            <a href="/" class="nav-item">Home</a>
            <a href="/archivio" class="nav-item">Archive</a>
            <div class="dropdown">
                <button class="nav-item">About ▼</button>
                <div class="dropdown-content">
                    <a href="/theTeam">The Team</a>
                    <a href="/support">Support</a>
                    <a href="/#documentation">Documentation</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container form-page research-page">
        <div class="form-title-row">
            <button type="button" onclick="window.location.href='/theTeam'" style="margin-bottom: 20px;">Back</button>
        </div>

        <div class="member-page">
            <img src="/static/images/lilly.jpg" alt="Liliana Albanese">
            <h2>Liliana Albanese</h2>
            <subtitle style="font-style: italic;">4th year High school student</subtitle>
            <p>blablabla about</p>
        </div>

        <div class="team-text">
            <p>Useful links:</p>
            <a href="https://www.wordreference.com/enit/meow" target="_blank" style="color: #87ad5cc0;">Meow</a>
        </div>

        <div class="team-text">
            <p>CV:</p>
            <button onclick="window.location.href='/downloadCVlilly'" style="margin-top: 10px;">Download CV <img src="/static/icons/page.png" alt="page" style="width:20px; height:20px; vertical-align: -3px;"></button>
        </div>
    </div>

    <script>
    </script>
</body>
</html>
