<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support - ARGOchive</title>
    <link rel="icon" type="image/png" href="/static/icons/favicon.png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="/" class="navbar-brand">ARGOchive</a>
        <div class="navbar-menu">
            <a href="/" class="nav-item">Home</a>
            <a href="/archivio" class="nav-item">Archive</a>
            <div class="dropdown">
                <button class="nav-item">About ▼</button>
                <div class="dropdown-content">
                    <a href="/theTeam">The Team</a>
                    <a href="/support">Support</a>
                    <a href="/#documentation">Documentation</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container form-page research-page">
        <div class="form-title-row">
            <h1 style="text-align:start;">Support</h1>
            <button type="button" onclick="window.location.href='/'">Back</button>
        </div>

        <div class="archive-layout fullscreen-archive">
            <div class="card">
                <h5>Support Team</h5>
                <h6>blablabla</h6>
            </div>
        </div>
    </div>

    <script>
    </script>
</body>
</html>
